
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');



body{
	line-height: 1.4em;
	margin: 0;
	background-image: url("C:/xamppp/htdocs/JCOS/img/fondo.jpg");
	

}

content{
	padding-top: 3em;
}

fieldset{
	margin-top: 1em;
}



/*header*/
.header{
	background-color: orange;
	color: black;
	padding: .6rem 0;	
	left: 0;
	top: 0;
	width: 100%;
	
}
header a{
	font-family:"Cinzel", serif;
	font-size: 18px;
	color: black;
	text-decoration: none;

}

div.encabezado{
	height: 100%;
	display: flex;
	justify-content: center;
	

	
}
.encabezado img{
	height: 65px;
	padding-right: 1em;


}
.encabezado cite{
	font-family:"Cinzel", serif;
	margin-top: .8em;
	letter-spacing: 15px;
	font-size: 30px;
	color: white;
	font-weight: 7px;
}

.logo-nav-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;

}

.menu-icon{
	display: none;
}
.navigation ul{
	 margin-top: .8em;
	padding: 0;
	list-style: none;

}

.navigation ul li{
	display: inline-block;
}
.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
	font-weight: 5px;

}
.navigation ul li a:hover{
	background-color: #4a4a4a ;
	color: white;
}

/*fondo*/
div.fondo {
  height: 100%;
  margin: 60px; 
  background-color: #f5f6f891;
  border-radius: 20px;

}
div.texto {
	padding-top: 1em;
 text-align: center;  
  font-size: 16px;
  color: black; 

}

div.texto p{
font-family:"Cinzel", serif;	
	font-size: 17px;
}

.forms{
	padding: 1em 2em;

}
legend{
	font-family: "Cinzel", serif;
			font-size: 1.2em;
			font-weight: bold;
			text-transform: uppercase;
		}
label{
	display: inline-block;
	}

input:hover, select:hover{
			background-color: orange;
		}

option, select{
	font-family: "Cinzel", serif;

}		

.contenido{
	height: 100%;
	text-align: center;
	font-size: 15px;
}
.button {
    background-color: orange; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
	font-family: "Cinzel", serif;
	font-size: 16px;
    background-color: white; 
    color: black; 
    border-radius: 2em ;

}

.button1:hover {
    background-color: orange;
    color: white;
}

/*footer*/

.inner-footer{
    margin:0;
    padding: 0;
    background-color: #272727;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links ul{
    padding: 10px;
    display: flex;
    margin: auto;
}
.social-items{
    list-style: none;
}
.social-items a{
    padding: 10px 20px;
    font-size: 30px;
    color: white;
    transition: all .25s;
   
}

.social-items a:hover{
    color: orange;

}

.quick-links{
    display: flex;
    justify-content: center;
    margin: auto;   

}

.quick-links ul{
	padding: 10px;
    display: flex;
    

}

.quick-items{
    list-style: none;
}

.quick-items a{
	padding: 0px 20px;
	font-family:"Cinzel", serif;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: all .25s;
}

.quick-items a:hover{
    color:orange;
}















































/*responsive*/
@media only screen and (max-width: 767px){
	.menu-icon{
		font-family:"Cinzel", serif;
	font-size: 18px;
		display: block;
		cursor: pointer;
		padding: 0.5rem 1rem;
	}

	.navigation ul{
		display: none;
	}
	.navigation ul.show{
		display: block;
	}
	.navigation{
		width: 100%;
		margin: 1rem;
	}

.navigation ul li{
	display: block;

}
.navigation ul li a{
	display: block;
	padding: 0.5rem ;
	transition: all 0.4s linear;
	border-radius: 5px;

}
.navigation ul li a:hover{
	background-color: #4a4a4a ;
}
.quick-items a{
	padding: 0px 20px;
	font-family:"Cinzel", serif;
    text-decoration: none;
    font-size: 13px;
    color: white;
    transition: all .25s;
}
h1{
	font-size: 25px;
}
label{
	display: block;
	}
}